<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Time Display</title>
</head>
<body>
    <h1>The Current Time and Date:</h1>
    <div>
        @{
            DateTime CurrentTime = DateTime.Now;
            var Date = CurrentTime.ToString("dddd, dd, MMMM, yyyy");
            var Time = CurrentTime.ToString("HH:mm:ss");
        }
        <h3>@Date</h3>
        <h3>@Time</h3>

    </div>
</body>
</html>